---
name: tests
on: [ push, pull_request ]
jobs:
  test:
    name: Test (Ruby ${{ matrix.ruby }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '2.6', '2.7', '3.0', '3.1', '3.2', '3.3', '3.4' ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: RSpec
        run: bundle exec rspec
        env:
          POSTGRESQL_URL: postgres://postgres:secretdb@localhost:25432/
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: event_sourcery_test
          POSTGRES_PASSWORD: secretdb
        ports:
          - 25432:5432

